{% extends "core.twig" %}

{%- block title -%}
reddit: the front page of the internet
{% endblock %}

{% set srSelectedLink = 1 %}

{% block pageClass %}listing-page hot-page{% endblock %}

{% set tabs = [
    {
        "label": "hot",
        "url": "/",
        "selected": true
    }
] %}

{% block side %}
<div class="side">
    <div class="spacer">
        <form action="/search" role="search" id="search">
            <input type="text" name="q" placeholder="search" tabindex="20">
            <input type="submit" value="" tabindex="22">
            <div id="searchexpando" class="infobar">
                <div id="moresearchinfo" style="">
                    <p>use the following search parameters to narrow your results:</p>
                    <dl>
                        <dt>subreddit:<i>subreddit</i></dt>
                        <dd>find submissions in "subreddit"</dd>
                        <dt>author:<i>username</i></dt>
                        <dd>find submissions by "username"</dd>
                        <dt>site:<i>example.com</i></dt>
                        <dd>find submissions from "example.com"</dd>
                        <dt>url:<i>text</i></dt>
                        <dd>search for "text" in url</dd>
                        <dt>selftext:<i>text</i></dt>
                        <dd>search for "text" in self post contents</dd>
                        <dt>self:yes (or self:no)</dt>
                        <dd>include (or exclude) self posts</dd>
                        <dt>nsfw:yes (or nsfw:no)</dt>
                        <dd>include (or exclude) results marked as NSFW</dd>
                    </dl>
                    <p>e.g. <code>subreddit:aww site:imgur.com dog</code></p>
                    <p><a href="/wiki/search">see the search faq for details.</a></p>
                </div>
                <p><a href="/wiki/search" id="search_showmore">advanced search: by author, subreddit...</a></p>
            </div>
        </form>
    </div>
    <div class="spacer">
        {% apply spaceless %}
        <form method="post" action="/post/login" id="login_login-main" class="login-form login-form-side">
            <input type="hidden" name="op" value="login-main">
            <input type="text" name="user" maxlength="20" tabindex="1" placeholder="username">
            <input type="password" name="passwd" tabindex="1" placeholder="password">
            <div class="g-recaptcha" data-sitekey="6LeTnxkTAAAAAN9QEuDZRpn90WwKk_R1TRW_g-JC"></div>
            <div class="status"></div>
            <div id="remember-me">
                <input type="checkbox" name="rem" id="rem-login-main" tabindex="1">
                <label for="rem-login-main">remember me</label>
                <a href="/password" class="recover-password">reset password</a>
            </div>
            <div class="submit">
                <span class="throbber"></span>
                <button class="btn" type="submit" tabindex="1">login</button>
            </div>
        </form>
        {% endapply %}
    </div>
</div>
{% endblock %}

{% block content %}
{% import "macros/thing.twig" as thing %}
{# <code>
    {{ rdt.page.response }}
</code> #}
<div class="menuarea">
    <div class="spacer">
        <span class="dropdown-title lightdrop">popular in:</span>
        <div class="dropdown lightdrop" onclick="open_menu(this)">
            <span class="selected">Everywhere</span>
        </div>
        <div class="drop-choices lightdrop">
            <form action="/prefs/update/geopopular">
                <input type="hidden" name="geo_filter" value="hell">
                <a href="/prefs/update/geopopular" class="choice" onclick="$(this).parent().submit(); return false;">Hell</a>
            </form>
        </div>
    </div>
</div>
<style>body >.content .link .rank, .rank-spacer { width: 2.2ex } body >.content .link .midcol, .midcol-spacer { width: 7.1ex } .adsense-wrap { background-color: #eff7ff; font-size: 18px; padding-left: 9.3ex; padding-right: 5px; }</style>
<div id="siteTable" class="sitetable linklisting">
    {% for thing in rdt.page.postList %}
    {{ thing.post(thing, loop.index + rdt.page.count, true) }}
    <div class="clearleft"></div>
    {% endfor %}
</div>
{% endblock %}